

body {
	width: 100vw;
	height: 100vh;
}
.container-fluid {
	border: 2px solid red;
	height: 100%;
}
.gameTitle {
	height: 10%;
	text-align: center;
}
.gameArea {
	height: 85%;
}
.cardSpace {
	height: 95%;
}
.scoreBoard {
	height: 95%;
}
.scores {
	height: 15%;
}
.timer {
	height: 95%;
}
.turns {
	height: 95%;
}
.choiceOne, .choiceTwo {
	height: 40%;
}
.row {
	border: 2px solid green;
}
.col-xs-8, .col-xs-4, .col-xs-6 {
	border: 2px solid blue;
}
.col-xs-6 {
	height: 90%;
}
/*img {
	width: 100%;
	height: 100%;
}
holding div {
	width: 100%;
	height: 100%;
}
.col-xs-2 {
	width: 15%;
	height: 18%;
}*/