body {
    width: 100vw;
    height: 100vh;
    background: black;
}
.container-fluid {
    height: 100%;
}
.gameTitle {
    height: 10%;
    text-align: center;
}
.scoreBoard {
    height: 10%;
}
.gameArea {
    margin: 0 auto;
    width: 90%;
    height: 80%;
}
.cardSpace {
    height: 100%;
    width: 100%;
}
.cardSpace .row {
    height: 20%;
}
.cardSpace .row .col-xs-2 {
    width: 16%;
    height: 100%;
}
.shit {
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
}